*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    margin-top: 10px;
    width: 960px;
    height: 600px;
    border: 1px solid green;
}
h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 80px;
    border-bottom: 3px solid gold;
    width: 100%;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: 0;
}
nav{
    background-image: url(./img/back.jpg);
    float: left;
    width: 19.9%;
    height: 518px;
}
nav a{
    text-decoration: none;
}
nav li{
    display: block;
    margin-left: 10px;
    margin-right: auto;
    width: 80%;
    list-style: none;
    margin-top: 8px;
    border-bottom: 2px dashed goldenrod  ;
}
section{
    margin-left: 10px;
    float: left;
    width: 78%;
    height: 480px;
}
h2{
    padding: 10px 0px;
    color: rgb(220, 190, 22);
}
section p{
    margin-top: 10px;
    color: rgb(162, 69, 19);
}

aside{
    padding: 10px 0;
    margin-left: 30px;

}
h3{
    color: rgb(220, 190, 22);
    margin-bottom: 15px;
}
aside{
    background-color: rgb(240, 237, 223);
    float: right;
    height: 250px   ;
    border: 5px outset gold;
    width: 40%;
    color: rgb(162, 69, 19);
    margin-top: 10px;
}
footer{
    padding: 10px;
    text-align: center;
    float:inline-start;
    width: 80%;
    height: 40px;
    border-top: 3px solid gold;
    color: gold;
    font-weight: bold;
}